1. 2+5=7 , this is simple addition that is computed normally through arithmetic
   2 + 5=7 , the spaces make no diffence but allow for easier reading
   2*5=10 , the * stands for multiplication and the expression is computed normally through arithmetic
   2/5=0.4 , python 3 returns a float for division every time, thus the expression is computed normally through arithmetic
   2**5=32 , ** acts as exponential notation, so this expression means 2 to the power of 5

2. The value of x is 10. The first statement stores x as 7, then the second statement stores a new value into x. However, since x is in the equation, the computer draws up the current value of x, which is 7. It then goes without saying that 7 + 3 = 10.

3. The first statement stores x as 3. The second statement stores y as the current value of x, which is 3. The last statement stores x as a new value, 10. Thus at the end x = 10 and y = 3.

4. The code runs without error. It produces: 1.5 abcabc

5. The code returns an error because line 4 attempts to add a float (1.5) to a string ('abc'). In order for the code to work, you must convert to the same data type (convert 1.5 to a string)

6. The code runs without error. It produces: 3 | 24 | 8.0

7. The code returns an error because line 3 attempts to divide a string by an integer, which is not possible.

8. The code runs without error and produces nothing ("I am a #string" is stored in x but there is no statement to return x)

9. The code runs without error. It produces: [1,2,3,42,43]

10. The code returns an error. You can only concatenate lists to lists, and line 3 attempts to concatenate an int to a list

11. x1: integer
    x2: float
    x3: string
    x4: list
    x5: list

12. type() returns the data type that is inside of the parenthesis
    type(42) returns integer, this is a whole number with no decimal
    type(42.0) returns float, this is a number with a decimal value attached to it
    type('42.0') returns string, the apostrophes act like quotes and denote a string of characters
    type("42.0") returns string, the quotes denote a string of characters
    type("""42.0""") returns string, the triple quotes act as quotes but let the string span multiple lines
    type([1,2]) returns list, the brackets signify the data within them are elements of a list, and those elements are seperated by commas
    type([1]+[2]) returns list, the + concatenates the lists and creates a list that contains 1 and 2 as seperate elements
    type(1 + 2) returns integer, both numbers have no decimals associated with them, so the addition of 2 integers results in an integer
    type(print) returns builtin_function_or_method, the print command is a function in python

13. The code returns float because the contents of the string '1234' are all numbers that can be converted into float or int. The code converts '1234' to an integer, then back to a string, then to a float, meaning type() will return float

14. The code returns int because the string '12.34' contains all numbers that can be converted to float or int. The string '12.34' is converted to a float and then converted to an int, meaning type() will return int

15. len([1234]) returns 1, length() returns the number of elements for lists and there is 1 element in the list 
    len("1234") returns 4, length() returns the number of characters in the string, which is 4
    len(1234) returns an error, length() cannot be applied to integers or floats

16. x is a list with 0 length

17. x.split() returns list: ['abcde']

In [1]:
x = 1234
float(x)

1234.0

In [5]:
x = 1234
str(x)

'1234'

In [9]:
x = 1234
a = []
for i in str(x):
    a.append(i)
print(a)

['1', '2', '3', '4']

In [15]:
x = 'luke, i am your father'
x.title()

'Luke, I Am Your Father'

In [17]:
x = "How many character and letters are in this string?"
len(x)

50

In [18]:
a = []
for i in x:
    a.append(i)
print(a)

['H', 'o', 'w', ' ', 'm', 'a', 'n', 'y', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', ' ', 'a', 'n', 'd', ' ', 'l', 'e', 't', 't', 'e', 'r', 's', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', '?']

In [21]:
b = x.split()
print(b)

['How', 'many', 'character', 'and', 'letters', 'are', 'in', 'this', 'string?']

In [22]:
len(b)

9

21. This assignment took me 45 minutes.