In [1]:
car = 'BMW'
car

'BMW'

In [2]:
car == 'BMW'

True

In [3]:
return car

SyntaxError: 'return' outside function (<ipython-input-3-f3f5eb541492>, line 1)

In [4]:
car.lower() == 'bmw'

True

In [5]:
pizza_top = ['cheese', 'mushrooms', 'chicken']
'cheese' in pizza_top

True

In [7]:
if conditional_test:
    do something

SyntaxError: invalid syntax (<ipython-input-7-4b56e36c38b7>, line 2)

In [8]:
if conditional_test:
    do something

SyntaxError: invalid syntax (<ipython-input-8-4b56e36c38b7>, line 2)

In [11]:
age_1 = 19
age_2 = 15
if age_2 >= 18:
    print('you are eligible to vote')
    print('please register before octover 1st')
else:
    print('''you'll have to wait''')

you'll have to wait

In [12]:
age = 20
if age<4:
    print('''you don't have to pay''')
elif age >=4 and age <= 18:
    print('please pay $10')
else:
    print('please pay $20')

please pay $20

In [14]:
some_string = '''hey there, it's thursday evening again'''
some_string [4:9]

'there'

In [16]:
counter = 0
while counter <= 10:
    print("hey, I know how to counT! %d" % counter)
    counter += 2 
print ("loop is broken")

hey, I know how to counT! 0
hey, I know how to counT! 2
hey, I know how to counT! 4
hey, I know how to counT! 6
hey, I know how to counT! 8
hey, I know how to counT! 10
loop is broken

In [20]:
count = 0
for i in range(1,11):
    count +=i
print(count)

55

In [21]:
def mul(x,y):
    prod = x*y
    return prod

In [22]:
mul(5,10)

50

In [23]:
mul(9,9)

81

1.

aa

In [24]:
2**5

32

In [27]:
x = 7
x = x + 3
print(x)

10

In [32]:
x = 3
x=x/2
y='abc'
z=y+x
print(x,z)

TypeError: must be str, not float

In [29]:
5/2

2.5

In [30]:
2/5

0.4

In [31]:
2/5

0.4

In [33]:
x = 3
y = 24
z = y/x
print(x, y, z, sep=' | ')

3 | 24 | 8.0

In [34]:
x = 3 
y ='24'
z = y/x
print(x,z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [37]:
x = "I am a #string" #Whoa, a string!
print(x)

I am a #string

In [38]:
x = [1,2,3]
y = [42,43]
z=(x+y)
print(z)

[1, 2, 3, 42, 43]

In [39]:
x = [1,2,3]
y = 42
z=(x+y)
print(z)

TypeError: can only concatenate list (not "int") to list

In [40]:
type(42)

int

In [41]:
type([12,12.0,"12.0"])

list

In [42]:
type("""42.0""")

str

In [43]:
type([1]+[2])

list

In [44]:
type(print)

builtin_function_or_method

In [45]:
type(1+2)

int

In [46]:
type(float(str(int('1234'))))

float

In [47]:
int('12.34')

ValueError: invalid literal for int() with base 10: '12.34'

In [49]:
type(int(float(12.3)))

int

In [51]:
len([1234])

1

In [54]:
len(1234.0)

TypeError: object of type 'float' has no len()

In [53]:
len('1234')

4

In [57]:
x = []
len(x)

0

In [60]:
x = 'abcde'
x.split()

['abcde']

In [1]:
x = [1,2,3]
y = 'bootcamp'
z = x + y
z

TypeError: can only concatenate list (not "str") to list

In [2]:
type(x)

list

In [5]:
type('itamer' > 'chase')

bool

In [7]:
'spencer' == "spencer"

True

In [8]:
if 2 > 1
    print ('yes, 2 is still greater than 1')

SyntaxError: invalid syntax (<ipython-input-8-74bf11587c69>, line 1)

In [10]:
if not False:
    print('on the hand')
else:
    print('but on the other hand')

but on the other hand

In [11]:
cond = True
if cond:
    x = 'chase'
else:
    x = 'dave'
print(x)

chase

In [13]:
x = [1,2,3,4]
y = ['x','y','z']
if len(x) > len(y):
    print('x has more')
else:
    print('y has at least as many')

x has more

In [20]:
x = [1,2,'a','b']
face = x[-1:]
face

['b']

In [21]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

In [27]:
def pocket_change(p,n,d,q):
    q_cent = q * 25
    d_cent = d * 10
    n_cent = n * 5
    total = q_cent + d_cent + n_cent + p
    dollar_value = total/100.0
    print('$',dollar_value)

In [28]:
pocket_change(1,2,3,4)

$ 1.41

In [49]:
def not_six(list):
    a = list
    x = []
    for i in a:
        string_ver = str(i)
        if string_ver[:1] != '6':
            integer_ver = int(string_ver)
            x.append(integer_ver)
    print(x)

In [51]:
not_six([1234,6783,6,4321,9876])

[1234, 4321, 9876]

In [53]:
old_list = [1234,6783,6,4321,9876]
new_list = [x for x in old_list if str(x)[0] != "6"]
print(new_list)

[1234, 4321, 9876]

In [66]:
z = {1:'one',2:'two',3:'three'}
c = list(z)
print(c[2])

3